@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular_1_router.js"></script>
<script src="~/app/app.js"></script>
<div ng-app="smartpark">
   {{2+2}}
</div>